.chat-box {
    height: 95vh;
    width: 40%;
    color: red;
    border: 1px solid red;
    left: 68%; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 400px;
    float:right;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;;
}

.messages {
    color: blue;
    border-color: antiquewhite;
    border: 1px solid black;
    height: 75vh;
    overflow-y: scroll; 
    scroll-behavior: auto;
    text-align: left;
    padding-left: 10px;
}

.send-message {
    color: plum;
    top: 80%;
    float: left;
    font-size: 10px;
}

.send-message input {
    height: 20px;
    margin-top: 10px;
    margin-left: 30px;
    width: 20vw;
    max-width: 295px;
}

.flex {
    display: flex;
}