.chat-box {
    height: 95vh;
    width: 40%;
    color: red;
    border: 1px solid red;
    left: 68%; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 400px;
    float:right;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.messages {
    color: blue;
    border: 1px solid black;
    height: 72vh;
    overflow-y: scroll; 
    scroll-behavior: auto;
    padding: 10px;
    text-align: left;
    margin-top: 0;
}

.name-date {
    min-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
} 

.messages h5 {
    float:right;
    font-size: 10px;
    color: rgb(170, 167, 167);
    margin-top: 4px;
}

.messages h3 {
    float: left;
    width: 50%;
    color: rgb(99, 99, 99);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.messages h4 {
    color:black;
    margin-left: 15px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-top: 3px;
}




.send-message {
    color: plum;
    top: 80%;
    float: left;
    font-size: 10px;
}

.send-message input {
    height: 20px;
    margin-top: 10px;
    margin-left: 30px;
    width: 20vw;
    max-width: 295px;
}

.flex {
    display: flex;
}